<head>
    <title>Collage Student</title>
    <META http-equiv="Content-Style-Type" content="text/css">
        <LINK href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

    <h1>Registro de Estudiante</h1>   

    <form action="" method="POST">
        <input type="number" name="id" hidden>
        <input type="text" name="name" placeholder="Enter Name"><br><br>
        <input type="email" name="email" placeholder="Enter Email"><br><br>
        <input type="number" name="code" placeholder="Enter Code"><br><br>
        <input type="submit" value="Submit">
    </form>

</body>